<% if can?(:read, @participant) %>
  <%- model_class = Participant -%>
  <div class="page-header">
    <h1><%=t '.title', :default => @participant.user.name %></h1>
  </div>
  <p>
    <strong><%= model_class.human_attribute_name(:andrewid) %>:</strong>
    <%= @participant.andrewid %>
  </p>
  <p>
    <strong><%= model_class.human_attribute_name(:phone_number) %>:</strong>
    <%= "(" + @participant.phone_number[0,3]+") "+@participant.phone_number[3,3]+"-"+@participant.phone_number[6,4] %>
  </p>
  <p>
    <strong><%= model_class.human_attribute_name(:has_signed_waiver) %>:</strong>
    <%= format_boolean(@participant.has_signed_waiver?)  %>
  </p>
  <p>
    <strong><%= model_class.human_attribute_name(:has_signed_hardhat_waiver) %>:</strong>
    <%= format_boolean(@participant.has_signed_hardhat_waiver?) %>
  </p>
  <p>
    <strong><%= model_class.human_attribute_name(:memberships) %></strong>
    <% @memberships.each do |membership| %><li><%= link_to membership.organization.name, membership.organization %></li><% end %>
  </p>
  <p>
    <strong><%= model_class.human_attribute_name(:user_role) %></strong>
    <%= @participant.user.roles.first.name %>
  </p>
  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                participants_path, :class => 'btn'  %>
    <% if can?(:update, @participant) %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_participant_path(@participant), :class => 'btn' %>
    <% end %>

    <a data-toggle="modal" href="#role-options-<%= @participant.user.id %>" class="btn btn-mini" type="button">Change role</a>
    <%= render "/users/user", :user => @participant.user, :redirect => participant_path(@participant) %>

    <% if can?(:destroy, @participant) %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                participant_path(@participant),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
    <% end %>
  </div>
<% else %>
  <h3>Not Authorized!</h3>
<% end %>