<% if can?(:read, :diagram) %>
  <div class="page-header">
    <h1><%= @diagram.name %></h1>
  </div>
  <%= image_tag(@diagram.image, :alt => @diagram.name, :style => 'max-width: 500px') %>
  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
              diagrams_path, :class => 'btn' %>
              
    <% if can?(:edit, :diagram) %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_diagram_path(@diagram), :class => 'btn' %>
    <% end %>
    
    <% if can?(:destroy, :diagram) %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              diagram_path(@diagram),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
    <% end %>
  </div>

<% else %>
  <h3>Not Authorized!</h3>
<% end %>
