<% if can?(:create, :checkout) %>
  <%= simple_form_for @checkout, :html => { :class => 'form-horizontal' }, :url => create_tool_checkout_path do |f| %>
    <%= f.input :tool_id, label: 'Tool Barcode' %>
    <%= f.input :participant_id, label: 'Participant ID Card Code' %>
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                checkouts_path, :class => 'btn' %>
    </div>
  <% end %>
  
<% else %>
  <h3>Not Authorized!</h3>
<% end %>
