

<h4><%= link_to_function "Tools Checked Out", "$('#tools').toggle()" %></h3>
<div id="tools" style="display: none;">
  <%= render :partial => "tools/organization_tool_list", :object => @tools %>
</div>

<h3><%= link_to_function "Members", "$('#members').toggle(); $('#organization_participant_list').dataTable();" %></h3>
<div id="members" style="display: none;">
  <%= render :partial => 'participants/participant_list', :object => @members %>
</div>

<h3><%= link_to_function "Charges", "$('#charges').toggle()" %></h3>
<div id="charges" style="display: none;">
  <%= render :partial => "charges/organization_charge_list", :object => @charges %>
</div>

<h3><%= link_to_function "Shifts", "$('#shifts').toggle()" %></h3>
<div id="shifts" style="display: none;">
  <%= render :partial => "shifts/shift_table.html.erb", :object => @shifts %>
</div>

<h3><%= link_to_function "Hardhats", "$('#hardhats').toggle()" %></h3>
<div id="hardhats" style="display: none;">
  <%= render :partial => "tools/organization_tool_list", :object => @hardhats %>
</div>
